.taxi-icon {
    color: rgb(227, 227, 19);
}

h1 > a {
    text-decoration: none;

}

.top {
    margin-top: 60px;
}

.h1-button {
    width: 250px;
    text-align: center;
    margin: auto;

}

.h1-button > a {
    display: flex;
    background-color: blueviolet;
    /* width: 200px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
}

.cars-vs {
    width: 400px;
    margin: auto;
    font-size: 40px;
    text-align: center;
}