.item-div {
    width: 250px;
    height: 150px;
  margin: 10px auto;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    22deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(85, 149, 225, 1) 100%
  );
  text-align: center;
  border-radius: 10px;
  color: white;
  position: relative;
  
}

.item {
    margin-top: 30px;
}

.item-name {
    padding-top: 25px;
}

.item-name > .car-icon {
    font-size: 20px;
}

.uber-cost-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    border: none;
    text-align: center;
    height: 26px;
    color: white;
    background-color: rgba(238, 174, 202, 1);
}

.button {
    width: 100px;
    background-color: rgba(85, 149, 225, 1);
    border: none;
    border-radius: 10px;
    color: white;
    height: 26px;
}

.invest {
    margin: 40px;
    border: 2px solid black;
    /* width: 80%; */
    text-align: center;
    padding-bottom: 20px;
}